@import '~@fluentui/react/dist/sass/References.scss';

.quizBuilderWrapper {
  width: 100%;
  min-height: 100vh;
  background-color: #faf9f8;

  // Full bleed - remove SharePoint margins
  margin: 0 -32px;
  padding: 0 32px;

  @media (max-width: 1024px) {
    margin: 0 -16px;
    padding: 0 16px;
  }
}
